   header {
    background-color: transparent;
    padding: 20px;
  }

  .login-box {
    background-color: #121212;
    padding: 40px;
    border-radius: 16px;
    width: 90%;
    max-width: 520px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin: 0 16px;
  }

  .login-box input {
    background-color: #242424;
    color: #fff;
    border: none;
  }

  .login-box input:focus {
    outline: none;
    border: 1px solid var(--primary_green);
  }

  .login-box button {
    background-color: var(--primary_green);
    color: #000;
    font-weight: bold;
  }

  .login-box button:hover {
    transform: scale(1.03);
    background-color: #1fdf64;
  }

  .login-page a {
    color: var(--primary_green);
  }

  .login-page a:hover {
    text-decoration: underline;
  }

  @media (max-width: 480px) {
    .login-box {
      padding: 24px;
      max-width: 100%;
    }

    .login-box input,
    .login-box button {
      font-size: 0.95rem;
      padding: 0.75rem;
    }
  }