  input,
  select,
  button {
    transition: all 0.2s ease-in-out;
  }

  input:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #1db954;
    background-color: #1a1a1a;
  }

  button[type="submit"] {
    background-color: #1db954;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 16px;
  }

  button[type="submit"]:hover {
    background-color: #1ed760;
    transform: scale(1.03);
  }

  input[type="checkbox"] {
    accent-color: #1db954;
  }

  a,
  input,
  select,
  label {
    transition: 0.2s ease;
  }

  a {
    color: #1db954;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  hr,
  .border-t {
    border-color: #333;
  }

  ::placeholder {
    color: #aaa;
  }

  label {
    font-size: 14px;
    color: #ccc;
  }
